/* Normal navbar links */
.navbar .nav-link {
    color: #475569 !important;
    transition: all 0.2s ease;
}

/* Hover */
.navbar .nav-link:hover {
    color: #092B3A !important;
}

/* Currently selected page */
.navbar .nav-link.active-nav {
    color: #061c26 !important;
    font-weight: 600;
    font-size: 15px !important;
    transition: all 0.3s ease;
}

/* .login:hover{
    background-color: #00BFA6;
    border:#00BFA6 ;
    color: black;
}

.signup:hover{
    background-color: whitesmoke;
    color: black;
} */